.CursorContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: transparent;
    display: flex;
    align-content: center;
    align-items: center;
    pointer-events: none;

    mix-blend-mode: difference;
    #Cursor {
        width: 10vh;
        height: 10vh;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        transition: transform 0.3s ease;

        // overflow: hidden;
        path{
            fill: rgb(255, 255, 255);
        }

        #cursorHint{
            position: absolute;
            width: 250%;
            height: 250%;

            top: -75%;
            left: -75%;
            animation: Rotate 8s linear infinite;

            opacity: 0;
            transition: 0.3s ease;
        }
    }
    .Tail{
        width: 10vh;
        height: 10vh;
        position: absolute;
        border-radius: 10vh;
        animation: Extinct 0.1s ease-in forwards;
        transform: translateX(-0.55vw) translateY(-2vh) scale(0.93);
        z-index: -10;

        background-color: rgb(255, 255, 255);
    }
}

@keyframes Extinct {
    from{
        scale: 1;
        opacity: 1;
    }
    to{
        scale: 0.6;
        opacity: 0.7;
        filter: blur(1vh);
    }
}

.SloganContainer{
    height: fit-content;
    font-size: 35px;
    color: var(--color);
    text-align: right;
    width: 102.5%;
    padding: 3vh 5vw 2% 0;
    z-index: 0;
    #SloganUnderlined{
        transition: 0.7s ease;
        position: relative;
        .SloganLine{
            width: 0%;
            height: 10%;
            border-radius: 50vw;
            background-color: var(--color);
            position: absolute;
            bottom: 0;
            right: 0;
            transition: 0.7s ease;
            display: flex;
        }
        &:hover{
            letter-spacing: -0.4vw;
            transition: 0.7s ease;
            .SloganLine{
                width: 101%;
                transition: 0.7s ease;
            }
        }
    }
}
