:root {
  --White: #ececec;
  --Black: #1a1a1a;
  --Red: #E47373;
}
:root {
  --light-bg: #ececec;
  --light-color: #1a1a1a;
  --light-active: scale(1.2);
  --light-bgTransparent: #fafafa3a;
}

:root {
  --dark-bg: #1a1a1a;
  --dark-color: #ececec;
  --dark-active: scale(1.2);
  --dark-bgTransparent: #1a1a1a3a;
}
